<div class="home-wrapper">
  <h1 class="home-title">Multi User Dungeon</h1>
  <p class="home-text">
    MUD es un juego multijugador donde los participantes exploran un calabozo con monstruos y tesoros.
    El objetivo es recolectar la mayor cantidad de tesoros, sin morir, en un tiempo determinado. <br />
</div>
<h1>Menu</h1>
<div [hidden]="isPlayer" id = "player">
  <button (click)="startGame()">Play</button>
</div>
<div [hidden]="isAdmin" id = "admin">
  <li><a href="http://localhost:8080/player/all">CRUD Players</a></li>

</div>
<div  [hidden]="isDesigner" id = "designer">

  <ul>
    <li><a href="http://localhost:8080/rooms/all">CRUD rooms</a></li>
    <li><a href="http://localhost:8080/monster/all">CRUD monsters</a></li>
    <li><a href="http://localhost:8080/monsters/all">CRUD monster types</a></li>
    <li><a href="http://localhost:8080/items/all">CRUD items</a></li>
    <li><a href="http://localhost:8080/decoratives/all">CRUD decorative objects</a></li>
  </ul>
</div>
