<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <h1>You can edit rooms here.</h1>
        <h1>Rooms</h1>
        <form action="#" th:action="@{/rooms/save}" th:object="${room}" method="post">
            <input type="hidden" th:field="${room.id}" id="room-id">
            <label for="Room-name">Name: </label>
            <input type="text" th:field="${room.Name}" id="room-name">
            <label for="Room-descripcion">Descripción: </label>
            <input type="text" th:field="${room.description}" id="room-description">
            <label for="monster-room">Monster: </label>
            <select th:field="${room.monster}">
                <option th:each="monsters : ${monsters}" 
                th:value="${monsters.id}"
                th:text="${monsters.monsterEsp.name}+'-'+${monsters.name}"
                ></option>
            </select>   
            <button type="submit">Send</button>
            <p><a th:href="@{/rooms/edit/{idRoom}/additems(idRoom=${room.id})}" >Add items</a></p>
            <p><a th:href="@{/rooms/delete/{id}(id=${room.id})}" th:text="Delete" ></a></p>
        </form>
        
        <p><a th:href="@{/rooms/all}" th:text="Back" ></a></p>
    </body>
</html>