<!DOCTYPE html>
<html xmlns: th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Players</title>
</head>
<body>
    <h1>Active players</h1>
    <ul>
        <li th:each="player : ${player}" >
            <a th:href="@{/player/edit/{id}(id=${player.id})}"  th:text="${player.username}"></a></li>
    </ul>
    <p><a th:href="@{/player/create}" th:text="Create" ></a></p>
    <p><a th:href="@{http://localhost:4200/home}" th:text="Back" ></a></p>
</body>
    
</html>