.u-section-1 {
  background-image: linear-gradient(45deg, #9c0001, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 614px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

@font-face {
  font-family: 'FJuego' ;
  src: url(DAEMONES.TTF);
}
@font-face {
  font-family: 'Fjuegol';
  src: url(LJuego.ttf);
}



.u-section-1 .u-text-1 {

  font-family: 'Fjuego';
  font-size: 2.5rem;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 300;
  margin: 36px auto 0;
}

.u-section-1 .u-form-1 {
  font-family: 'Fjuegol';
  height: 293px;
  width: 570px;
  margin: 30px auto 0;
}

.u-section-1 .u-label-1 {
  font-family: 'Fjuego';
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-1 {
  font-family: 'none';

}

.u-section-1 .u-label-2 {
  font-size: 1rem;
  font-family: 'Fjuego';
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  font-family: 'none';

}

.u-section-1 .u-label-3 {
  font-family: 'Fjuego';
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-family: 'Fjuego';
  font-size: 1.125rem;
  font-weight: 700;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  padding: 14px 30px 15px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-family: 'Fjuego';
  font-size: 1.125rem;
  align-self: center;
  margin: 30px 85px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-family: 'Fjuego';
  font-size: 1.125rem;
  margin: -30px auto 0 85px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 5px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}
